Repository ELIXIR-NO/FEGA-Norway, pull requests merged in 2024-02, with the labels that each got.

#67 Replaced MQ-interceptor dependency for AMQP
  services/mq-interceptor/go.mod
  services/mq-interceptor/go.sum
  services/mq-interceptor/main.go
Labels: dependencies, MQ-interceptor

#81 Fix MIME type errors from the AuthController
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/controllers/rest/AuthController.java
Labels: bug, TSD-Proxy, Springboot

#80 Add okhttp and jsonwebtoken plugins
  buildSrc/src/main/kotlin/okhttp.gradle.kts
  lib/clearinghouse/build.gradle.kts
  services/tsd-api-mock/build.gradle.kts
Labels: dependencies, Clearinghouse, TSD-mock, Root

#85 Services/containerize java services
  buildSrc/src/main/kotlin/springboot-conventions.gradle.kts
  services/localega-tsd-proxy/Dockerfile
  services/localega-tsd-proxy/build.gradle.kts
  services/tsd-api-mock/Dockerfile
  services/tsd-api-mock/build.gradle.kts
Labels: configuration
