Repository ELIXIR-NO/FEGA-Norway, pull requests merged in 2024-01, with the labels that each got.

#29 Upgrade from Java 17 to Java 21
  .github/workflows/build-and-test.yml
  .github/workflows/check-formatting.yml
  .github/workflows/codeql.yml
  buildSrc/src/main/kotlin/springboot-conventions.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  lib/clearinghouse/build.gradle.kts
Labels: java, configuration, workflows

#30 Add the MQ-interceptor service
  services/mq-interceptor/Dockerfile
  services/mq-interceptor/LICENSE
  services/mq-interceptor/build.gradle.kts
  services/mq-interceptor/go.mod
  services/mq-interceptor/go.sum
  services/mq-interceptor/main.go
  settings.gradle.kts
Labels: import, MQ-interceptor

#56 Add tsd file api client
  lib/tsd-file-api-client/build.gradle.kts
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/TSDFileAPIClient.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/Environment.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/Chunk.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/Message.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/ResumableUpload.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/ResumableUploads.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/TSDFile.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/TSDFileAPIResponse.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/TSDFiles.java
  lib/tsd-file-api-client/src/main/java/no/uio/ifi/tc/model/pojo/Token.java
  lib/tsd-file-api-client/src/test/java/no/uio/ifi/tc/TSDFileAPIClientTest.java
  settings.gradle.kts
Labels: import, TSD-file-API-client

#57 Import TSD-File-API-Stub into monorepo
  .gitignore
  services/tsd-api-mock/build.gradle.kts
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/TsdApiMockApplication.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/BasicAuthController.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/BasicAuthService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/Client.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/ClientRepository.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/ApiKeyRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/ApiKeyResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/BasicTokenRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/BasicTokenResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/ConfirmRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/ConfirmResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/SignupConfirmRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/SignupConfirmResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/SignupRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/basic/dto/SignupResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/elixir/ElixirAuthController.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/elixir/ElixirAuthService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/elixir/dto/ElixirTokenRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/elixir/dto/ElixirTokenResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/tsd/TsdAuthController.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/tsd/TsdAuthService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/tsd/dto/TsdTokenRequestDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/auth/tsd/dto/TsdTokenResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/ega/EgaFilesController.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/ega/EgaFilesService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/ega/dto/FileUploadMessageDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/ega/dto/FolderMessageDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/exceptions/CredentialsMismatchException.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/exceptions/FailedResourceCreationException.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/exceptions/FailedResourceDeletionException.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/exceptions/FileProcessingException.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/files/FilesController.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/files/FilesService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/files/dto/DeleteResumableDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/files/dto/FileUploadMessageDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/files/dto/FolderMessageDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/resumables/ResumableUpload.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/resumables/ResumableUploadDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/resumables/ResumableUploadsResponseDto.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/resumables/Resumables.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/resumables/ResumablesRepository.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/utils/JwtService.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/validation/ErrorResponse.java
  services/tsd-api-mock/src/main/java/no/elixir/tsdapimock/validation/ValidationExceptionHandler.java
  services/tsd-api-mock/src/main/resources/application.properties
  services/tsd-api-mock/src/test/java/no/elixir/tsdapimock/TsdApiMockApplicationTest.java
  services/tsd-api-mock/src/test/java/no/elixir/tsdapimock/WebLayerTest.java
  services/tsd-api-mock/src/test/resource/application-test.properties
  settings.gradle.kts
Labels: TSD-mock, import

#58 Import localega-tsd-proxy into the monorepo.
  buildSrc/src/main/kotlin/jsonwebtoken.gradle.kts
  services/localega-tsd-proxy/build.gradle.kts
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/LocalEGATSDProxyApplication.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/aspects/AAIAspect.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/aspects/CredentialsMappingAspect.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/aspects/ProcessArgumentsAspect.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/aspects/PublishMQAspect.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/authentication/CEGACredentialsProvider.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/controllers/rest/AuthController.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/controllers/rest/ProxyController.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/dto/Credentials.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/dto/EncryptedIntegrity.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/dto/FileDescriptor.java
  services/localega-tsd-proxy/src/main/java/no/elixir/fega/ltp/dto/Operation.java
  services/localega-tsd-proxy/src/main/resources/application.yaml
  settings.gradle.kts
Labels: TSD-Proxy, import
